@model IList<Goldfish.Extend.IModule>

<div id="sub-navigation">
	<div class="inner">
		<h2>Settings</h2>
		<p>Here you can change the settings for your site and all your modules.</p>
		<ul>
			<li class="active"><a href="#">General</a></li>
			<li><a href="#">Blog</a></li>
		</ul>
		@if (Model.Count > 0) {
		<ul>
			@foreach (var module in Model) {
				<li><a href="@Url.Action("Settings", "Manager", new { module = module.ConfigType.Name.ToLower() })">@module.Name</a></li>
			}
		</ul>
		}
	</div>
</div>
