@{
	Page.Title = Blog.Title;
	Page.Css = "home-template";
}

<header id="site-head">
<div class="vertical">
	<div id="site-head-content" class="inner">
		<h1 class="blog-title">@Blog.Title</h1>
		<h2 class="blog-description">@Blog.Description</h2>
	</div>
</div>
</header>

<main class="content" role="main">
	<article class="post">
		<header class="post-header">
			<h2 class="post-title">Oooops</h2>
		</header>
		<section class="post-excerpt">
			<p>Sorry! We did not find what you were looking for.</p>
		</section>
	</article>
	}
</main>